// COLORS
$spotRed: #E70057;

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: #000;
}

.recordStore {
    background-image: url("../img/recordstore.jpg") !important;
    background-size: cover !important;
}