@mixin spotButton {
    padding: 10px;
    margin: 20px;
    background: $spotRed;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.spotButton {
    @include spotButton;
}